extends layout

block content
  h1= title
  if(title == 'Error')
    p There was something wrong with your application. Please try again
  else
    p Welcome to #{title}
    p Output: #{x} #{method} #{y} = #{result}
